@charset "utf-8";
.header {
	font: bold;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: white;
}

.header a:link {
	text-decoration: none;
	color: white;
}

.header a:visited {
	text-decoration: none;
	color: white;
}

.header a:hover {
	text-decoration: underline;
	color: white;
}

.header a:active {
	text-decoration: underline;
	color: white;
}

.inlinelink {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: white;
}

.inlinelink a:link {
	text-decoration: none;
	color: white;
}

.inlinelink a:visited {
	text-decoration: none;
	color: white;
}

.inlinelink a:hover {
	text-decoration: underline;
	color: white;
}

.inlinelink a:active {
	text-decoration: none;
	color: white;
}