@charset "utf-8";
.textcontainer {
    overflow: hidden;
    background-color: #4B4B4B;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 14px;
    color: white;
    text-align: left;
    padding: 14px 16px;
}

.textcontainerfooter {
	overflow: hidden;
	background-color: #4B4B4B;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 12px;
	font:italic;
	color: white;
	text-align: left;
	padding-left: 14px;
}
